apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: front
spec:
  rules:
    - host: abdelhak.assahi
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: front
                port:
                  number: 8081